body {
  font-family: 'Montserrat';
}
#caption {
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
#bigtext {
  font-family: 'Squada One';
  font-size: 130px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.red {
  color: rgb(255, 0, 0, 0.9);
}
.black {
  color: black;
}
#navmenu ul {
	margin: 0;
  margin-bottom: 24px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#navmenu ul li {
	display: inline;
}
#navmenu ul li a {
	display: inline-block;
	text-decoration: none;
	padding: .8em 2em;
	color: #fff;
	background-color: #ff1f16;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: .05em;
	margin-right: .05em;
}
#navmenu ul li a:hover {
	color: #fff;
	background-color: #a80000;
}
#imgs img {
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  width: 60%;
  height: 45%;
  margin-bottom: 3%;
}
#bkg1 {
  position: absolute;
  color: rgb(0, 0, 0, 0);
  font-size: 45px;
  font-family: 'Montserrat';
  padding-top: 18vw;
  width: 59.6%;
  height: 22vw;
  margin-top: -42.6vw;
  margin-left: 19.6%;
  margin-right: 20%;
  text-align: center;
}
#bkg1:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250, 0.82);
}
#imgcaption1 {
  position: absolute;
  margin-top: 1000px;
  padding-left: 0.5em;
  border-radius: 10px;
  padding-right: 0.5em;
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat';
  margin-top: -150px;
  background-color: rgb(250, 250, 250, 0.8);
}
#imgcaption2 {
  position: absolute;
  margin-top: 2000px;
  padding-left: 0.5em;
  border-radius: 10px;
  padding-right: 0.5em;
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat';
  margin-top: -150px;
  background-color: rgb(250, 250, 250, 0.8);
}
#imgcaption3 {
  position: absolute;
  margin-top: 3000px;
  padding-left: 0.5em;
  border-radius: 10px;
  padding-right: 0.5em;
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat';
  margin-top: -150px;
  background-color: rgb(250, 250, 250, 0.8);
}
#imgcaption4 {
  position: absolute;
  margin-top: 4000px;
  padding-left: 0.5em;
  border-radius: 10px;
  padding-right: 0.5em;
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat';
  margin-top: -150px;
  background-color: rgb(250, 250, 250, 0.8);
}
#bluebar {
  position: absolute;
  width: 100%;
  height: 40vw;
  background-color: rgb(0, 0, 255, 0.12);
}
#redbar {
  position: absolute;
  width: 100%;
  height: 40vw;
  background-color: rgb(250, 0, 0, 0.12);
}
#greenbar {
  position: absolute;
  width: 100%;
  height: 40vw;
  background-color: rgb(0, 255, 0, 0.12);
}
#yellowbar {
  position: absolute;
  width: 100%;
  height: 40vw;
  background-color: rgb(240, 240, 0, 0.12);
}
#pagetitle {
  text-align: center;
  font-size: 60px;
}
table {
	border-spacing: 10px;
}
#firstel {

}
table, th {
	border-top: 1px solid black;
	padding-top: 12px;
}
td {
	/*border-collapse: separate;
	border-top: 1px solid black;*/

}

.box {
  margin-left: 20px;
  margin-right: 8px;
}

#tags {
  margin-left: 16%;
  margin-right: 16%;
}

#namebox {
  width: 600px;
  font-size: 17px;
}

#contest td {
  border-collapse: separate;
	border-top: 1px solid black;
  padding: 12px 12px 0px 12px
}

#prob td {
  margin-bottom: 10px;
  padding-bottom: 60px;
  padding: 12px 12px 10px 10px
}

#code {
  font-family: 'Monaco';
  background-color: rgb(230, 230, 230, 150);
  width: 600px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#explanation {
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
}

#hugeexplanation {
  font-family: 'Squada One';
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 80px;
}

#bigexplanation {
  font-family: 'Squada One';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 60px;
}

#medexplanation {
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 28px;
}

.bluecode {
  color: rgb(0, 0, 200);
}

.comment {
  color: rgb(200, 0, 0);
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#subtitle {
  font-size: 16px;
  text-align: center;
}

#box1 {
  width: 800px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Montserrat';
  color: black;
}

#box2 {
  width: 800px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'Montserrat';
  color: rgba(0, 0, 0, 0.3);
}

#subbox {
  width: 800px;
  padding-left: 100px;
  padding-right: 20px;
  font-size: 14px;
  font-family: 'Montserrat';
  margin-left: auto;
  margin-right: auto;
  margin-top: -52px;
  margin-bottom: 40px;
}

.sortdiv {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
#sort {
	width: 30%;
  align: middle;
	right: 0px;
}
.par {
  color: rgba(0, 0, 0, 0.3);
}

.rank {
    font-family: "Avenir";
    font-size: 18px;

}

.tag {
    font-family: "AvenirNext-Bold";
    font-size: 15px;

}

.secret {
  filter: blur(6px);
}

.info {
  filter: blur(6px);
}

#champion {
  color: rgb(240, 0, 0);
}

#legend {
  color: rgb(240, 120, 0);
}

#challenger {
  color: rgb(0, 55, 255);
}

#rookie {
  color: rgb(0, 150, 0);
}
